body {
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  cursor: pointer;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: flex;
}

.game-setting {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.game-setting__title {
  font-size: large;
}
.input_form {
  width: 100%;
  padding: 4px 10px;
  margin: 2px 0;
  box-sizing: border-box;
  border: 1px solid #58257b;
  border-radius: 4px;
}

.game-status {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.game-status__title {
  font-size: large;
}

.list-none {
  list-style-type: none;
}

.won {
  background-color: #d9ed92;
}

.btn {
  border: 1px solid #999;
  padding: 2px;
  margin-top: 10px;
}